/*the container must be positioned relative:*/
.celect {
  position: relative;
  font-family: Arial;
}

.celect select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: #ffffff;
    border-bottom: solid 1px DodgerBlue;
    color: DodgerBlue;
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: DodgerBlue transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent DodgerBlue transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div {
    color: DodgerBlue;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
	position: absolute;
	background-color: #ffffff;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	margin-top: 10px;
	box-shadow: 0 0 20px 2px #00000040;
	max-height: 288px;
	overflow-y: auto;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}